body{
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    background-color: #000000;
    background-size: auto;
    background-position: left top;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background: #000000;
    opacity: 1;
}
h1{
    padding: auto;
    margin: auto;
    color: #ffffff;
}